span {
  font-family: Bungee;
  font-size: 1.8em;
}

nav {
  height: 120px;
  padding: 1.5em;
  background-color: white;
  color: lightcoral;
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
nav > div > h3 {
  margin-bottom: 0;
}