span {
  font-family: Bungee;
  font-size: 1.8em;
}

nav {
  height: 120px;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
nav > div > h3 {
  margin-bottom: 0;
}